/* Layout Component Styles */

.main-content {
    padding: 5px;
    transition: margin-left 0.5s;
}

.menuContent {
    min-width: 50%;
    background: transparent;
    justify-content: flex-start;
    align-items: center;
    border: none;
}

/* Main Layout */
.main-layout {
    min-height: 100vh;
}