.trace-detail-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1f1f1f;
    color: #fff;
    font-family: sans-serif;
  }
  .trace-detail-body {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  .trace-flamegraph {
    flex: 1;
    overflow: auto;
    border-right: 1px solid #2a2a2a;
  }
  .trace-sidebar {
    width: 300px;
    background-color: #0b0c0e;
    overflow: auto;
    border-left: 1px solid #2a2a2a;
    height:calc(100vh - 24px);
  }